.fullscreen
  .viewer
    .content
      = image_tag @item.file.url, title: @item.path
    =link_to user_post_item_path( post_id: @post, id: @post.items.first, user_id: @user), class: 'control previous' do
      %p
    =link_to user_post_item_path( post_id: @post, id: @post.items.second, user_id: @user), class: 'control next' do
      %p
    =link_to user_post_path(id: @post, user_id: @user), class: 'back' do
      %p ...
