.fullscreen
  .viewer
    .content
      = image_tag @item.file.url, title: @item.path
    - if @next
      =link_to user_post_item_path( post_id: @post, id: @next, user_id: @user), rel: 'prefetch', class: 'control next preload' do
        %p
    - if @previous
      =link_to user_post_item_path( post_id: @post, id: @previous, user_id: @user), class: 'control previous preload' do
        %p
-#
  .row
    .col-xs-10
      = @item.path
      %table
        %thead
          %tr
            %td key
            %td value
        %tbody
          - @item.exifs.each do |exif|
            %tr
              %td= exif[0]
              %td= exif[1]
  - content_for :nav do
    =link_to 'Go back', user_post_path(id: @post, user_id: @user), class: 'btn btn-primary'
