- items = post.items.order('rating DESC').limit(3)
.row{id: "post-#{post.id}", :'data-page' => params[:page]}
  .col-xs-12
  .row
    .col-xs-12
      %h1= link_to post.name, user_post_path(user_id: @user, id: post)
  .row
    .col-xs-12
      =render items, post: post
